body {
  background: #fff5b4;
  display: flex;
  justify-content: center;
  font-family: "Poppins";
}
.form-control{
  background: #ffa580;
  color :#262626;
  border: 1px solid #262626;
}
.form-control:focus{
  background: #ffa580;
  color :#262626;
  border: 1px solid #262626;
}
.center {
  padding: 50px 50px;
  background: #f8f4e5;
  border-radius: 10px;
  box-shadow: 10px 10px 1px #ffa580,10px 10px 1px 2px #262626;
  border: 2px solid #262626;
  width: max-content;
  height: max-content;
  margin-top: 2rem;
  margin-bottom: 2rem;

}
.center h1 {
  font-size: 2em;
  border-left: 5px solid #ffa580;;
  padding: 10px;
  color: #000;
  letter-spacing: 5px;
  margin-bottom: 60px;
  font-weight: bold;
  padding-left: 10px;
}

.button{
  width: max-content;
  background: #ffa580;
  color: #262626;
  outline: none;
  border: 1px solid #262626;
  box-shadow: 3px 3px 1px #95a4ff, 3px 3px 1px 1px #262626;

}
.button:hover{
  background: #f8f4e5;
  color: #262626;
  box-shadow: 3px 3px 1px #ffa580,3px 3px 1px 1px #262626;
}